<section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-left mb-lg-5 mb-md-4 mb-sm-4 mb-3"> Get In Touch</h3>
            <div class="agile-info-para">
               <div class="row contact-wls-detail">
                  <div class="col-lg-6 col-md-6 contact-form">
                     <div class="agile-wls-contact-mid">
                        <p class="groom-right pb-lg-4 pb-3">velit sagittis vehicula. Duis posuere 
                           ex in mollis iaculis. Suspendisse tincidunt ut velit id euismod.vulputate turpis porta ex sodales, dignissim hendrerit
                        </p>
                        <form>
                           <div class="form-group contact-forms">
                              <label class="sub-title-w3layouts">Your Name</label>
                              <input type="text" class="form-control" placeholder="Name">
                           </div>
                           <div class="form-group contact-forms">
                              <label class="sub-title-w3layouts">Enter Email</label>
                              <input type="email" class="form-control" placeholder="Enter">
                           </div>
                           <div class="form-group contact-forms">
                              <label class="sub-title-w3layouts">Phone</label>
                              <input type="text" class="form-control" placeholder="Phone">
                           </div>
                           <div class="form-group contact-forms">
                              <label class="sub-title-w3layouts">Meassage</label>
                              <textarea class="form-control" rows="3"></textarea>
                           </div>
                           <button type="submit" class="btn btn-block sent-butnn">Sent</button>
                        </form>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6 contactright">
                     <div class="footer_grid_left text-center mb-4">
                        <div class="contact_footer_grid_left text-center mb-3">
                           <h5> Address</h5>
                        </div>
                        <p>3481 Melrose Place, Beverly Hills, <br>New York City 90210.</p>
                     </div>
                     <div class="footer_grid_left text-center mb-4">
                        <div class="contact_footer_grid_left text-center mb-3">
                           <h5>Phone</h5>
                        </div>
                        <p>+(000) 123 4565 32 <br>+(010) 123 4565 354</p>
                     </div>
                     <div class="footer_grid_left text-center mb-4">
                        <div class="contact_footer_grid_left text-center mb-3">
                           <h5>Email</h5>
                        </div>
                        <p><a href="mailto:info@example.com">info@example1.com</a> 
                           <br><a href="mailto:info@example.com">info@example2.com</a>
                        </p>
                     </div>
                     <div class="address_mail_footer_grids">
                        <iframe src="https://www.google.com/maps/place/FPT+Polytechnic+Hanoi/@21.0381476,105.7380323,15z/data=!3m1!4b1!4m12!1m6!3m5!1s0x313454b991d80fd5:0x53cefc99d6b0bf6f!2sFPT+Polytechnic+Hanoi!8m2!3d21.0381278!4d105.7467871!3m4!1s0x313454b991d80fd5:0x53cefc99d6b0bf6f!8m2!3d21.0381278!4d105.7467871"></iframe>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--//contact  -->