<h1 style="text-align:center">Trang quản lý</h1>
<button class="btn btn-primary" routerLink="product/add">Add Product</button>
  
 <a style="color:red" class="card-text" 
 *ngIf="selected">{{selected.desc}}</a>
<table class="table table-bordered table-hover " >
<thead>
  <tr>
    <th>ID</th>
    <th>Product Name</th>
    <th>Price</th>
    <th>Img</th>
    <th>Action</th>
   </tr>
</thead>
<tbody  >
   <tr *ngFor="let product of products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
     <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>${{product.price}}</td>
    <td><img class="card-img-top" [src]="product.img" style="height: 100px; width: 100px; " alt=""></td>
     <td>
            <!-- <button class="btn btn-primary" routerLink="/product/{{product.id}}">Detail</button> -->
            <button class="btn btn-info ml-3" routerLink="/product/edit/{{product.id}}">Edit</button>
            <button class="btn btn-danger ml-3" (click)="removeItem(product.id)">Delete</button>
      </td>
      
  </tr>
  
</tbody>
</table>
  <ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="products.length"></ngb-pagination>