
 <div class="bodder">
<h1 align="center"> Add Product </h1>
<br> <br>
<form style="margin-left:20px "> 
  
   <form name="form" [formGroup]="form">
      <div class="form-group">
      <label for="">Name</label>
      <input type="text" class="form-control" formControlName="name"
   id="name" [(ngModel)]="product.name" [ngClass]="{'is-invalid':form.get('name').touched && form.get('name').invalid}" 
   required placeholder="Product Name">
       <div class="invalid-feedback">
              <div>Product name is not empty </div>
            </div>
    </div>
    <div class="form-group">
      <label for="">Price</label>
      <input type="number" min="0" class="form-control" id="price" [(ngModel)]="product.price"
      formControlName="price" [ngClass]="{'is-invalid':form.get('price').touched && form.get('price').invalid}"
       required  placeholder="Product price "/>
            <div class="invalid-feedback">
              <div>Product price is not empty</div>
            </div>
    </div>
    <div class="form-group">
      <label for="">desc</label>
      <input type="text" class="form-control" id="desc" [(ngModel)]="product.desc"formControlName="desc" [ngClass]="{'is-invalid':form.get('desc').touched && form.get('desc').invalid}" required placeholder="Enter a product description"/>
            <div class="invalid-feedback">
              <div>Content is not empty</div>
            </div>
    </div>
     <div class="form-group">
      <label for="">Images</label>
      <input type="url" class="form-control" id="img" [(ngModel)]="product.img"
      formControlName="anh" [ngClass]="{'is-invalid':form.get('anh').touched && form.get('anh').invalid}" required placeholder="Nhập link ảnh" />
            <div class="invalid-feedback">
              <div>Images is not empty</div>
            </div></div>
    <button class="btn btn-primary" style="width: 150px;" (click)="addProduct()"  [disabled]="!form.valid">Add Product</button>
    &nbsp;<button class="btn btn-primary"  (click)="clear()"  style="width: 150px;">Clear</button>
    &nbsp;<button class="btn btn-primary" routerLink="/admin/quanli" style="width: 150px;">Back</button>
   
  </form>
  </form>
 
</div>
