<!--services-->
<section class="service py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
     <h3 class="title clr text-center mb-lg-5 mb-md-4  mb-sm-4 mb-3">services</h3>
     <div class="row agile-service-grids-all">
        <div class="col-lg-4 w3layouts-service-list">
           <div class="white-shadow rounded p-lg-4 p-md-4 p-sm-3 p-3">
              <div class="white-left">
                 <span class="fab fa-slideshare banner-icon" aria-hidden="true"></span>
              </div>
              <div class="white-right">
                 <h4>Lorem ipsum</h4>
                 <p>delectus reiciendis maiores alias consequatur aut.maiores alias consequatur aut.</p>
              </div>
              <div class="outs-agile-buttn">
                 <a href="about.html">Learn more</a>
              </div>
           </div>
           <div class="white-shadow rounded mt-4 p-lg-4 p-md-4 p-sm-3 p-3">
              <div class="white-left">
                 <span class="fab fa-angellist banner-icon" aria-hidden="true"></span>
              </div>
              <div class="white-right">
                 <h4>Consequatur</h4>
                 <p>delectus reiciendis maiores alias consequatur aut.maiores alias consequatur aut.</p>
              </div>
              <div class="outs-agile-buttn">
                 <a href="about.html">Learn more</a>
              </div>
           </div>
        </div>
        <div class="col-lg-4  w3layouts-service-list">
           <div class="white-shadow rounded p-lg-4 p-md-4 p-sm-3 p-3">
              <div class="white-left">
                 <span class="far fa-smile banner-icon" aria-hidden="true"></span>
              </div>
              <div class="white-right">
                 <h4>Lorem ipsum</h4>
                 <p>delectus reiciendis maiores alias consequatur aut.maiores alias consequatur aut.</p>
              </div>
              <div class="outs-agile-buttn">
                 <a href="about.html">Learn more</a>
                 <div class="agileinfo-service-img">
                    <img src="https://i.pinimg.com/originals/c3/37/2d/c3372d2c7de437f563b6a9eacf5ec9f1.jpg" class="img-fluid text-center" alt="">
                 </div>
              </div>
           </div>
        </div>
        <div class="col-lg-4  w3layouts-service-list">
           <div class="white-shadow rounded p-lg-4 p-md-4 p-sm-3 p-3">
              <div class="white-left">
                 <span class="fas fa-chess-queen banner-icon" aria-hidden="true"></span>
              </div>
              <div class="white-right">
                 <h4>Maiores alias</h4>
                 <p>delectus reiciendis maiores alias consequatur aut.maiores alias consequatur aut.</p>
              </div>
              <div class="outs-agile-buttn">
                 <a href="about.html">Learn more</a>
              </div>
           </div>
           <div class="white-shadow rounded mt-4 p-lg-4 p-md-4 p-sm-3 p-3">
              <div class="white-left">
                 <span class="fas fa-bullhorn banner-icon" aria-hidden="true"></span>
              </div>
              <div class="white-right">
                 <h4>Delectus alias</h4>
                 <p>delectus reiciendis maiores alias consequatur aut.maiores alias consequatur aut.</p>
              </div>
              <div class="outs-agile-buttn">
                 <a href="#" data-toggle="modal" data-target="#exampleModalLive">Learn more</a>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!--//services-->
<!--blog-->
<section class="blog py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
     <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Blog</h3>
     <div class="row blog-top-grids">
        <div class="col-lg-5 col-md-6 left-side-agile">
           <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed odio consequat
           </h4>
           <p class="groom-right">velit sagittis vehicula. Duis posuere 
              ex in mollis iaculis. Suspendisse tincidunt ut velit id euismod.vulputate turpis porta ex sodales, dignissim hendrerit
           </p>
        </div>
        <div class="col-lg-5 offset-lg-2 col-md-6 blog-w3l-right ">
           <img src="https://i.pinimg.com/originals/3f/c0/d3/3fc0d3c8a5bea3287c3439c61dd43371.jpg"  class="img-fluid" alt="">
        </div>
     </div>
     <div class="row blog-top-grids py-lg-4 py-md-3 
        py-3">
        <div class="col-lg-5 col-md-6  blog-w3l-left py-md-5 py-sm-4 py-4">
           <img src="https://studios.vn/wp-content/uploads/2015/06/chup-anh-mau-nam-tai-Ha-Noi.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-5 offset-lg-2 col-md-6 left-side-agile py-lg-5 py-md-4">
           <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed odio consequat
           </h4>
           <p class="groom-right">velit sagittis vehicula. Duis posuere 
              ex in mollis iaculis. Suspendisse tincidunt ut velit id euismod.vulputate turpis porta ex sodales, dignissim hendrerit
           </p>
        </div>
     </div>
     <div class="row blog-top-grids">
        <div class="col-lg-5 col-md-6 left-side-agile">
           <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed odio consequat
           </h4>
           <p class="groom-right">velit sagittis vehicula. Duis posuere 
              ex in mollis iaculis. Suspendisse tincidunt ut velit id euismod.vulputate turpis porta ex sodales, dignissim hendrerit
           </p>
        </div>
        <div class="col-lg-5 offset-lg-2 col-md-6 blog-w3l-bottom">
           <img src="https://i.pinimg.com/originals/b8/47/e8/b847e8f2df38f13c3706549a1666f746.jpg"  class="img-fluid" alt="">
        </div>
     </div>
  </div>
</section>
<!--blog-->