<!-- about -->
	<div class="about" id="about">
		<div class="container">
			<div class="wthree-heading">
				<h2>About Us</h2>
				<h4>A</h4>
			</div>
			<div class="agileits-about-grids">
				<div class="col-md-6 agileits-about-grid">
					<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at consequat augue. Aenean facilisis sapien ac ex</h4>
					<p>Nam imperdiet tellus nec enim tempus iaculis. Morbi vitae varius est. Morbi cursus ante non tortor consequat ullamcorper. Cras in dui libero. Sed scelerisque finibus urna vitae sodales. Nullam aliquam imperdiet mi, sit amet tempus ante scelerisque ac. Praesent vestibulum ultrices maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
				</div>
				<div class="col-md-6 agileits-about-grid">
					<h4>In volutpat metus quis velit malesuada, sed cursus diam tincidunt. Nunc pharetra, ligula eget iaculis convallis</h4>
					<p>Fusce sit amet velit tempor, egestas leo vel, scelerisque urna. Proin at orci pellentesque, congue augue eget, tincidunt odio. Aenean commodo lectus nunc, in feugiat nunc egestas sed. Morbi at lacus maximus, aliquam metus at, laoreet nisi. Etiam felis lorem, condimentum ac viverra sed, convallis vitae metus. Donec egestas sem vel ornare sagittis. Vivamus ut semper tellus</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- services -->
	<div class="services" id="services">
		<div class="container">
			<div class="wthree-heading">
				<h3>Our Services</h3>
				<h4>S</h4>
			</div>
			<div class="services-grids">
				<div class="col-md-8 wthree-services-grids">
					<div class="col-md-6 w3-agileits-services-grid">
						<i class="fa fa-cogs" aria-hidden="true"></i>
						<h4>Quisque a rhoncus tortor</h4>
						<p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros dapibus efficitur volutpat.</p>
					</div>
					<div class="col-md-6 w3-agileits-services-grid agile-services1">
						<i class="fa fa-comments" aria-hidden="true"></i>
						<h4>Quisque a rhoncus tortor</h4>
						<p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros dapibus efficitur volutpat.</p>
					</div>
					<div class="col-md-6 w3-agileits-services-grid">
						<i class="fa fa-heart" aria-hidden="true"></i>
						<h4>Quisque a rhoncus tortor</h4>
						<p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros dapibus efficitur volutpat.</p>
					</div>
					<div class="col-md-6 w3-agileits-services-grid">
						<i class="fa fa-plane" aria-hidden="true"></i>
						<h4>Quisque a rhoncus tortor</h4>
						<p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros dapibus efficitur volutpat.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 services-right">
					<h5>Fusce sit amet velit tempor, egestas leo vel, scelerisque urna.</h5>
					<p>Proin at orci pellentesque, congue augue eget, tincidunt odio. Aenean commodo lectus nunc, in feugiat nunc egestas sed. Morbi at lacus maximus, aliquam metus at, laoreet nisi. 
					<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque enim erat, pretium quis commodo in, porttitor vitae purus. Sed a sollicitudin quam. In sodales, dolor non sodales sodales, ipsum orci ultrices est, eget interdum tortor lacus in odio. Cras ut rutrum erat. Morbi dictum velit mauris, non pretium tellus tempor sit amet. Proin nec varius metus.</span>
					</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //services -->