 <hr>
	<div class="contact" id="mail">
		<div class="container">
			<div class="wthree-heading">
				<h1 aligh>Contact Us</h1>
			
			</div>
			<div class="contact-form">
				<form action="#" method="post">
					<input type="text" placeholder="Name" required="">
					<input type="email" placeholder="Email" required="">
					<input type="text" placeholder="Telephone" required="">
					<textarea placeholder="Message" required=""></textarea>
					<input type="submit" value="SUBMIT">
				</form>
			</div>
		</div>
	</div>
  <hr>