<body>  
    <h2 align="center">Edit product</h2>
    <form *ngIf="product" style="margin-left:20px">
      <div class="form-group">
        <label for="">Product ID</label>
        <input type="text" class="form-control" name="id" [(ngModel)]="product.id" disabled>
      </div>
      <div class="form-group">
        <label for="">Product Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="product.name">
      </div>
      <div class="form-group">
        <label for="">Price</label>
        <input type="number" class="form-control" name="price" [(ngModel)]="product.price">
      </div>
      <div class="form-group">
        <label for="">Desc</label>
        <input type="text" class="form-control" name="desc" [(ngModel)]="product.desc">
      </div>
      <div class="form-group">
        <label for="">Ảnh</label>
        <input type="url" class="form-control" name="img" [(ngModel)]="product.img" >
      </div>
      <button class="btn btn-primary" (click)="updateProduct()"style="width: 150px;">Save</button>
      &nbsp;<button class="btn btn-primary" routerLink="/admin/quanli" style="width: 150px;">Back</button>
    </form>
    </body>
    